body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  background: black;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

header .left {
  margin-right: auto;
}

header .right {
  margin-left: auto;
  padding: 3px;
}

header .left a {
  font-size: 1.4em;
}

header .right a {
  font-size: 1.2em;
  display: inline-block;
}

header .right a:last-child {
  margin-right: 0;
}

header a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
}

section {
  height: 1000px;
  margin: 25px 40px;
}

section h1 {
  font-size: 1.8em;
}
