body {
  background: #FFAFBD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

header {
  position: fixed;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header div {
  margin: 20px 20px 0;
}

header div a {
  color: #fafafa;
  font-size: 1em;
  text-decoration: none;
  margin: 0 20px;
  transition: 400ms ease-in-out;
}

header div a:hover {
  color: white;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
}

footer div.watermark {
  margin: 0 10px 0;
}

div.watermark a {
  text-decoration: none;
  color: #fafafa;
  transition: 400ms ease-in-out;
}

div.watermark a:hover {
  color: white;
}

div.watermark a .heart {
  color: #fafafa;
  transition: 400ms ease-in-out;
  display: inline-block;
  width: 13px;
}

div.watermark a:hover .heart {
  color: hotpink;
}

.center-container a:hover {
}

.center-container a {
  text-decoration: none;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

#example-element {
  color: #fafafa;
  text-align: center;
  font-size: 4.8em;
  padding: 0;
  margin: -50px 0 0;
  transition: color 1s ease-in-out;
  transition: font-size 120ms;
}

#example-element.done {
  color: white;
  font-size: 5.5em;
}
